body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background: #0d47a1;
    color: white;
    padding: 12px;
}

main {
    padding: 20px;
}
#map {
    width: 100%;
    height: calc(100vh - 80px);
}
